<!-- Created by JAshanpreet Singh Anand 301168003 -->

<div class="container">
<h1>Jashanpreet Singh Anand #301168003></h1>
<div>
<img src="/Assets/images/myself.jpeg" style="float:right;"  width="200">
<p class="display-5"><p>I am student in the <i>Software Engineering</i> program at <b>Centennial College.</b></p>
<p>One of my favourite quote is:</p>
<blockquote>
<i>"The Scariest Moment Is Always Just Before You Start.After That,Things Can Only Get Better."</i>
<br><b><i>~~~Stephen King~~~</i></b>
</blockquote>
<p> Some of my favourite things to do are:</p>
<ol>
<li>Playing Games</li>
<li>Gardening</li>
<li>Spending time with friends</li>
</ol>
</div>
</div>