 <!-- Created by JAshanpreet Singh Anand 301168003 -->
<!--Content inside home.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
  <p>I'm Jashanpreet Singh and welcome, to my personal portafolio. I hope, you enjoy it</p>

   <a class="link-warning" href="/about" >About me</a>
   <a class="link-info" href="/projects" >Projects</a>
   <a class="link-danger" href="/services" >Services</a>
   <a class="link-primary" href="/contact" >Contact me</a>
   
<ul>
<br>
</ul>
<h1>Mission Statement</h1>
   <p>My mission is to show some websites that I made, so new people can convince themselves to create their own webpages</p>

  <div align="center"><img src="./Assets/images/prog.jpg" alt="Programming" width="500"> </div>

  </div>
  