 <!-- Created by JAshanpreet Singh Anand 301168003 -->
 
 <!--Content inside services.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
  <p>The services that I to offer are mainly about:  </p>
  <ul>
    <li><h5>HTML5</h5></li>
      <div align="center"><img src="./Assets/images/html.jpg" alt="HTML5" width="200" ></div>
        <li><h5>CSS</h5></li>
        <div align="center"><img src="./Assets/images/css.jpg" alt="css" width="250" ></div>
        <li><h5>JavaScript</h5></li>
        <div align="center"><img src="./Assets/images/js.png" alt="JS" width="180" ></div>
</ul>
  
  </div>