html,
body {
  
    background-color: white;
}

#table {
    margin-bottom: 30px;
    min-height: 1000px;
}

drawbutton {
    text-align: center;
    color: saddlebrown;
    font-family: sans-serif;
}


td {
    border: 2px solid rgb(156, 156, 156);
    background-color:lemonchiffon;

}

h2 {
    text-align: center;
    color: saddlebrown;
    font-family: sans-serif;
}

footer {
    color: darksalmon;
    position: absolute;
    width: 100%;
}


